.swiper {
    width: 100vw;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}

.swiper-slide img {
    display: block;
}
