.swiper {
    width: 80vw;
    height: 350px;
    user-select: none;
    -webkit-user-select: none;
}

.swiper_slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}

.swiper_slide img {
    display: block;
}
