@keyframes initialLoad {
    0% {
        height: 0vh;
    }
    100% {
        height: 90vh;
    }
}

@keyframes initialLoadMobile {
    0% {
        width: 0vw;
    }
    100% {
        width: 90vw;
    }
}

.initialLoad {
    animation-name: initialLoad;
    animation-duration: 3s;
    animation-direction: forward;
    animation-iteration-count: 1;
}

@media screen and (max-width: 768px) {
    .initialLoad {
        animation-name: initialLoadMobile;
        animation-duration: 3s;
        animation-direction: forward;
        animation-iteration-count: 1;
    }
}
